html {
    background-color: #ffcc6e;
}

body {
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.logo {
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    width: 100px;
    height: 100px;
    display: block;
}

h2 {
    text-align: center;
    font-size: 1.2em;
}

.main-content {
    width: fit-content;
    margin: auto;
}

.block {
    display: block;
}

#data-form {
    display: inline-block;
    background-color: white;
    height: fit-content;
    width: fit-content;
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 15px;
}

.form-field, .form-field-group {
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
}

.form-field-submit {
    margin: 10px;
}

.sub-form-field {
    display: inline-block;
}

label, select, input {
    display: inline-block;
}

input[type='number'] {
    width: 50px;
}

.button {
    background-color: #ffb800;
    padding: 10px;
    width: 100%;
    border: 2px solid #ffcc6e;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    border: 2px solid black;
    cursor: pointer;
}

#run-type {
    width: 150px;
}

.form-container, .data-display-container, .quick-stats, #copyright {
    padding: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.data-table {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.data-table h2 {
    margin-top: 0;
}

table {
    border-collapse: collapse;
}

.table-contents {
    background-color: white;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    padding: 15px;
}

th, td {
    padding: 5px;
    width: 90px;
}

th {
    background-color: black;
    color: white;
    vertical-align: center;
    text-align: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: .9em;
}

td {
    font-size: .9em;
    text-align: left;
    border: 1px solid black;
}

.th-left-end {
    border-left: 1px solid black;
}

.th-right-end {
    border-right: 1px solid black;
}

.no-styling {
    border-right: 0;
    border-top: 0;
    background-color: white;
}

.delete-button {
    padding: 5px;
    margin: 0;
}

.label-stat-block {
    display: inline-block;
    margin: 8px;
    background-color: white;
    border: 3px solid whitesmoke;
    border-radius: 15px;
}

.label-block, .stat-block {
    display: block;
    padding: 5px;
    text-align: center;
}

.label-block {
    line-height: 25px;
}

.stat-block {
    font-weight: 700;
    font-size: 1.7em;
    line-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.quick-stats {
    background-color: #ffb800;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    margin-bottom: 100px;
}

.quick-stats-header {
    margin: 5px;
    padding: 5px;
}

.page-number-row {
    text-align: center;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 40px;
}

.page-number {
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ffb800;
    margin: 5px;
    border-radius: 5px;
}

.page-number:hover {
    background-color: #ffcc6e;
}

.current-page {
    background-color: #f7d682;
}

.disabled {
    pointer-events: none;
    color: rgb(75, 75, 75);
    border: none;
}